a {
    color: var(--white-color);
}

.home {
    margin-top: 80px;
    width: 100vw;
    padding: 5rem 1rem;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 2.5rem;
        max-width: 700px;
        margin: 0;

        span {
            color: var(--first-color);
            font-size: 2.7rem;
        }
    }

    p {
        font-size: 1rem;
        max-width: 800px;
        margin: .5rem 0;
    }
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.featured {
    width: 100vw;
    padding: 2rem 2rem;

    .flexbox {
        align-items: unset;
    }

    h5 {
        color: var(--white-color);
        font-size: 1.5rem;
    }

    .mainpost {
        max-width: 55%;

        img {
            border-radius: 20px;
            width: 100%;
        }

        h2 {
            font-size: 2rem;
            margin: 0;
        }

        h2:hover {
            text-decoration: underline;
        }

        p {
            color: var(--text-light-color);
            margin: 0;
        }

        .category {
            padding: .2rem 1rem;
            border-radius: 20px;
            border: 2px solid var(--first-color);
            width: fit-content;
            transition-duration: 0.3s;
            color: var(--white-color);
        }

        .redmore {
            border: 2px solid var(--first-color);
            padding: .5rem 1rem;
            border-radius: 20px;
            font-size: .8rem;
            width: fit-content;
            transition-duration: .3s;
        }

        .redmore:hover {
            background-color: var(--first-color);
        }
    }

    .morepost {
        width: 45%;
        padding: 1rem;
        padding-top: 0;
        min-height: 100%;
        min-width: 400px;

        .items {
            width: 100%;
            display: flex;
            margin-bottom: 1rem;

            img {
                width: 45%;
                border-radius: 20px;
                height: fit-content;
                margin-right: 1rem;
                min-width: 200px;
            }

            h3 {
                display: -webkit-box;
                font-weight: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                transition-duration: .3s;

            }

            p {
                padding: .2rem 1rem;
                border-radius: 20px;
                border: 2px solid var(--first-color);
                width: fit-content;
                transition-duration: 0.3s;
            }
        }

        .items:hover {
            .content {
                h3 {
                    text-decoration: underline;
                }

                p {
                    background-color: var(--first-color);
                }
            }
        }
    }

    @media screen and (max-width:953px) {
        .mainpost {
            width: 95%;
            max-width: 95%;
            margin-bottom: 3rem;
        }

        .morepost {
            width: 95%;
            max-width: unset;
            min-width: auto;
            padding: 0;

            .items {
                img {
                    min-width: 150px;
                }
            }

        }
    }

    @media screen and (max-width: 400px) {
        .morepost {
            .items {
                flex-wrap: wrap;

                img {
                    width: 100%;
                }

                .content {
                    width: 100%;
                }
            }
        }
    }
}




.mostrecent {
    width: 100vw;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    h5 {
        color: var(--white-color);
        font-size: 1.5rem;
    }
    .flexbox {
        align-items: unset;
        .items {
            width: 100%;
            margin-bottom: 1rem;
            width: 30%;
            margin: .5rem;
            img {
                width: 100%;
                border-radius: 20px;
                height: fit-content;
                margin-right: 1rem;
                min-width: 200px;
            }

            h2 {
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                transition-duration: .3s;
                margin: 0;
                color: var(--white-color);
            }
            p{
                color: var(--text-light-color);
                margin: 0;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                transition-duration: .3s;
            }

            .category {
                padding: .2rem 1rem;
                border-radius: 20px;
                border: 2px solid var(--first-color);
                width: fit-content;
                transition-duration: 0.3s;
                color: var(--white-color);
            }
        }
        .items:hover {
            .content {
                h3 {
                    text-decoration: underline;
                }

                p {
                    background-color: var(--first-color);
                }
            }
        }
        @media screen and (max-width: 953px) {
            .items{
                width: 45%;
                margin: .5rem;
            }
        }
        @media screen and (max-width: 600px) {
            .items{
                width: 95%;
                margin: .5rem 0;
            }
        }
    }
    .showmore{
        border: none;
        border-radius: 30px;
        padding: 1rem 2rem;
        background-color: var(--first-color);
        color: var(--white-color);
        margin: 2rem;
        font-weight: bold;
        font-size: .8rem;
        width: fit-content;
        cursor: pointer;
    }
}


.subcribe{
    width: 95%;
    margin: 2rem auto;
    border: 5px solid var(--first-color);
    border-radius: 20px;
    padding:1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .contants{
        width: fit-content;
        padding: 2rem;
        width: 40%;
    }
    .form{
        width: 60%;
    }
    .formdiv{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        input{
            width: 38%;
            border: 1px solid var(--text-light-color);
            background-color: transparent;
            color: var(--text-light-color);
            border-radius: 30px;
            padding: 1rem;
            font-weight: bold;
            font-size: .8rem;
        }
        .submite{
            width: 20%;
            background-color: var(--first-color);
            color: var(--white-color);
            border-radius: 30px;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                font-size: .8rem;
            }
        }
        
    }
    @media screen and (max-width: 1000px) {
        .contants{
            width: 100%;
        }
        .form{
            width: 100%;
        }
    }
    @media screen and (max-width: 1000px) {
        .formdiv{
            input{
                width: 45%;
            }
            .submite{
                width: 95%;
                margin: 1.2rem;
            }
        }
    }
    @media screen and (max-width: 1000px) {
        .formdiv{
            input{
                width: 100%;
                margin: .5rem 0;
            }
            .submite{
                width: 100%;
                margin: .5rem 0;
            }
        }
    }
}